.m-checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0
}

.m-checkbox > input:checked ~ span:after,
.m-radio > input:checked ~ span:after {
  display: block;
}

.m-checkbox > span:after {
  top: 50%;
  left: 50%;
  margin-left: -2px;
  margin-top: -6px;
  width: 5px;
  height: 10px;
  border-width: 0 2px 2px 0 !important;
  transform: rotate(45deg);
}

.m-checkbox > span:after,
.m-radio > span:after {
  content: '';
  position: absolute;
  display: none;
}

.m-checkbox.m-checkbox--primary > span:after {
  border: solid #00c5dc;
}

.m-checkbox {
  color: #575962;
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-transition: all .3s;
  transition: all .3s
}

.m-checkbox.m-checkbox--disabled,
.m-checkbox.m-radio--disabled,
.m-radio.m-checkbox--disabled,
.m-radio.m-radio--disabled {
  opacity: .8;
  cursor: not-allowed
}

.m-checkbox-indeterminate > input ~ span {
  content: none !important;
  background: #00c5dc !important;
}

input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.m-checkbox > span,
.m-radio > span {
  border-radius: 3px;
  background: 0 0;
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 18px;
}

.m-checkbox.m-checkbox--primary > span {
  border: 1px solid #bdc3d4;
}

.m-checkbox > input,
.m-radio > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.m-checkbox,
.m-radio {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 1rem;
  transition: all .3s;
}

.m-checkbox-list .m-checkbox, .m-checkbox-list {
  display: block;
}

.m-checkbox.m-checkbox--bold > span,
.m-checkbox.m-radio--bold > span,
.m-radio.m-checkbox--bold > span,
.m-radio.m-radio--bold > span {
  border-width: 2px !important;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.m-checkbox.m-checkbox--primary > input:checked ~ span {
  border: 1px solid #00c5dc;
}

.m-checkbox-disabled {
    color: #bdc3d4!important;
}