$product-header-height: 145px;

.widget_item {
    display: table;
    width: 100%;
}

.widget_item .widget_content {
    display: table-cell;
    vertical-align: top;
}

.widget_item .widget_content .widget_pic {
    display: table-cell;
    width: 5rem;
}

.widget_pic {
    border: 1px solid grey;
    border-radius: 5px;
    height: 120px;
    width: 120px !important;
}

.widget_item .widget_content .widget_section {
    display: table-cell;
    vertical-align: top;
    padding-left: 1.43rem;
}

.widget_item .widget_content .widget_pic img {
    width: 10rem;
}

.widget_item .widget_content .widget_pic img.product-image {
    padding: 10px;
    height: 120px;
    width: 120px;
    object-fit: cover;
}

.fs-22 {
    font-size: 22px;
}

.product-header {
    position: fixed;
    left: 330px;
    right: 0;
    background-color: white;
    min-width: 700px;
    height: $product-header-height;
    z-index: 50;
}

.semi-header {
    position: sticky;
    top: $product-header-height;
    background-color: white;
    z-index: 1;
    min-height: 82px;
}

.product-label {
    max-width: 38vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.comp-widget__button {
    color: cornflowerblue;
}

.comp-widget__stat {
    width: 330px;
    height: 350px;
    background-color: #ffffff;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.15);
}

.comp-widget__stat .scroll {
    max-height: 99%;
    overflow: hidden;
    overflow-y: auto;
}

.breadcrumbs {
    &_steps {
        display: flex;
        align-items: center;

        .breadcrumbs__dropdown {
            div[class*="-ValueContainer"] {
                padding: 0;
                margin-top: -4px;
            }
            div[class*="-indicatorContainer"] {
                padding: 0;
            }
        }
        button.btn-success {
            width: calc(100% - 20px);
            margin: 5px 10px 10px;
        }
        .breadcrumbs__item {
            border: 1px solid #ebedf2;
            padding: 10px 15px 10px 10px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            height: 40px;
            position: relative;
            border-left: 0;
            font-size: 12px;
            display: flex;
			background: #fff;
			z-index: 1;

            &.current {
				background: #99999910;
				z-index: 0;
				
				&:before {
					background: #99999910;
				}
            }

            .btn-dropdown,
            .btn.m-btn--pill.btn-default,
            i {
                padding: 0 !important;
            }

            .btn-dropdown button {
                background: none;
                border: 0;
            }
            .btn-dropdown {
                margin-left: 5px;
                margin-top: -2px;
            }

            .btn.m-btn--pill.btn-default {
                width: 20px;
                height: 20px;

                &:hover {
                    background: transparent;

                    i {
                        color: #000;
                    }
                }
            }

            &:before {
                content: "";
                height: 40px;
                border-top: 1px solid #ebedf2;
                left: -20px;
                position: absolute;
                top: 50%;
                width: 20px;
                border-bottom: 1px solid #ebedf2;
				transform: translateY(-50%);
				z-index: -5;
            }
            &:first-child {
                border-left: 1px solid #ebedf2;
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;

                &:before {
                    display: none;
                }
            }
        }
        .btn-dropdown-content {
            right: 0;
            margin-top: 10px;

            div[class*="-menu"][class*="css-"] {
                box-shadow: none;
                border-bottom: 1px solid #9999;
                border-radius: 0;
                position: relative;
            }
            div[class*="-control"][class*="css-"] {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}
