.pictures-grid {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 30px;
    padding-top: 20px;
    width: 100%;
    justify-content: space-between;

    .cell {
        width: 250px;
        text-align: center;
        cursor: pointer;

        p {
            margin-top: 10px;
            color: #000;
        }
        &:hover {
            text-decoration: none;
            .cell__image-wrapper {
                border: 1px solid #c5c9ce;
            }
        }

        .cell__image-wrapper {
            width: 250px;
            height: 250px;
            border: 1px solid #dee2e6;
            overflow: hidden;
            object-fit: fill;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                max-height: 100%;
            }
        }
    }
}
.notice {
    &_empty {
        font-size: 30px;
        margin-top: 6rem;
        text-align: center;
        color: #a6a6a6;
    }
}