.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

table {
  border-collapse: collapse;
}

tr {
  cursor: pointer;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #f4f5f8;
}

.table tfoot td {
  font-weight: 500;
}

.table th {
  font-weight: 500;
}

.table td, .table th {
  padding: .75rem;
  border-top: 1px solid #f4f5f8;
}

th {
  text-align: inherit;
}

.table td, .table th {
  padding: .75rem;
  border-top: 1px solid #f4f5f8;
}


td.v-align-center {
  min-width: 80px !important;
}

.attribute-row td {
  height: 42px;
}


.table-count {
  height: 64px;
  display: table;
  float: left;
  padding-left: 0rem;
}

.table-count div {
  display: table-cell;
  font-size: 17px;
  text-align: center;
  vertical-align: middle;
}

table.table {
  font-weight: 400;
  font-size: 13px;
}

.table-hover tbody tr:hover {
  background-color: #f7f8fa;
}

th {
  text-align: inherit
}

.m-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.m-nav.m-nav--inline {
  display: inline-block;
  width: auto;
  height: 100%;
}

.m-nav.m-nav--inline > .m-nav__item {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 25px;
}

.m-nav.m-nav--inline > .m-nav__item {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0 0 25px;
}

tr {
  cursor: pointer;
}

.action-block {
  //max-width: 40px;
  min-width: 40px;
  min-height: 22px;
  text-align: right;
  float: right
}

.show-hover:hover .hide {
  display: block;
}

.show-hover:hover .hide {
  display: block;
}

.table-dropdowns {
  height: 64px;
  display: table;
  float: right;
}

.table-dropdowns > div {
  display: table-cell;
  vertical-align: middle
}

.pagination-wrap {
  text-align: center;
}

.pagination-wrap:first-child {
  width: 550px;
}

.right-dropdown {
  right: 3rem;
  z-index: 5
}