.m-radio-list {
  padding: 0 0;
}

.m-radio {
  color: #575962
}

.m-radio.m-radio--disabled {
  opacity: .8
}

.m-radio > span {
  border: 1px solid #bdc3d4
}

.m-radio > span:after {
  border: solid #7281a4;
  background: #7281a4
}

.m-radio > input:disabled ~ span:after {
  border-color: #bdc3d4
}

.m-radio > input:checked ~ span {
  border: 1px solid #bdc3d4
}

.m-radio > input:disabled ~ span {
  opacity: .6
}


.m-radio, .m-radio-list {
  display: block;
}

input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.m-radio {
  margin-bottom: 10px;
}

.m-radio > span {
  border-radius: 50% !important;
}

.m-radio > input:checked ~ span {
  border: 1px solid #bdc3d4;
}

.m-radio > span:after {
  border: solid #7281a4;
  background: #7281a4;
}

.m-radio > span:after {
  top: 50%;
  left: 50%;
  margin-left: -3px;
  margin-top: -3px;
  height: 6px;
  width: 6px;
  border-radius: 100% !important;
}