.m-list-search__form-wrapper {
  .icon-item {
    display: table-cell;
    position: relative;
    top: 3px;
    padding-right: 1rem;
    svg {
      height: 1.2rem;
      width: 1.2rem;
    }
  }
}

.search-input {
  border: 0;
  background: 0 0;
  outline: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 85%;
  font-size: 1rem;
  padding: 0;
  display: table-cell;
}