button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  text-transform: none
}

.btn > i {
  line-height: 0;
  vertical-align: middle
}


.btn {
  svg {
    height: 1rem;
    width: 1rem;
  }
}

.btn.active, .btn:focus, .btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none
}

.btn.disabled,
.btn:disabled {
  opacity: .65
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer
}

a.btn.disabled {
  pointer-events: none
}

.btn.focus,
.btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 .2rem rgba(88, 103, 221, .25);
  box-shadow: 0 0 0 .2rem rgba(88, 103, 221, .25)
}

.btn.disabled,
.btn:disabled {
  opacity: .65
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}

.btn {
  font-family: Montserrat, serif;
  display: flex;
  align-items: center;
  justify-self: center;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  box-shadow: none !important;
  border: 1px solid transparent;
  padding: .85rem 1.15rem;
  font-size: 1rem;
  line-height: 1.25;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border-radius: .25rem;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn.m-btn--pill {
  border-radius: 60px;
}

.btn-dropdown {
  position: relative;
  display: flex;
}

.btn-dropdown-last {
  border-radius: 0 60px 60px 0 !important;
}

.btn-dropdown-first {
  border-radius: 60px 0 0 60px !important;
}

.btn-dropdown__select {
  min-width: 100%;
  position: absolute;
  left: 0;
  color: #212529;
  text-align: left;
  list-style: none;
  padding: .5rem 0;
  box-shadow: 0 0 15px 1px rgba(69, 65, 78, .2);
  border: 0;
  border-radius: 4px;
  background-color: #fff;
}

.btn-dropdown__item {
  display: block;
  width: 100%;
  padding: 0.7rem 1.2rem;
  clear: both;
  font-weight: 400;
  color: #212529 !important;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.btn-dropdown__item:hover {
  background: #f4f5f8;
  text-decoration: none;
}

.btn-dropdown-content {
  position: absolute;
  padding-top: 5px;
}

.btn-success {
  color: #fff;
  background-color: #00c5dc;
  border-color: #00c5dc;
}

.btn-success:hover {
  color: #fff;
  background-color: #00a2b9;
  border-color: #00a2b9;
}

body a,
body button,
html a,
html button {
  outline: 0 !important;
}

button,
select {
  text-transform: none;
}

button,
input {
  overflow: visible;
}

.btn.btn-default,
.btn.btn-secondary {
  background: #fff;
  border-color: #ebedf2;
}

.btn.m-btn--bolder {
  font-weight: 500 !important;
}

.btn.m-btn--custom {
  padding: .75rem 2rem;
  font-size: 1rem;
  font-weight: 400;
}

.btn.btn-secondary {
  background: #fff;
  border-color: #ebedf2;
}

.btn.btn-danger:hover:not(:disabled) {
  color: #fff !important;
}

.btn-danger {
  color: #fff;
  background-color: #f4516c;
  border-color: #f4516c;
}

.btn-danger:hover {
  color: #fff;
  background-color: #f22d4e;
  border-color: #f12143;
}

.btn:focus, .btn:hover {
  text-decoration: none;
}

.btn.btn-default.active, .btn.btn-default:active, .btn.btn-default:focus, .btn.btn-default:hover:not(:disabled), .btn.btn-secondary.active, .btn.btn-secondary:active, .btn.btn-secondary:focus, .btn.btn-secondary:hover:not(:disabled), .show > .btn.btn-default.dropdown-toggle, .show > .btn.btn-secondary.dropdown-toggle {
  border-color: #ebedf2;
  background-color: #f4f5f8;
}